
<div class="header">
  <a href="#default" class="logo">CensusPortal</a>
  <div class="header-right">
    <p> Welcome <%= current_user.username%>
    <%= link_to('Logout'.html_safe, destroy_user_session_path, method: :delete,class:"active")  %>    
  </div>
</div>
<%if current_user.is_admin==true%>
  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <%= link_to 'Statistics', statistics_index_path %><br/>
    <%= link_to 'Expenditure', expenses_index_path %><br/>
  </div>    
  <div id="main">
    <button class="openbtn" onclick="openNav()">&#9776; Open Sidebar</button>         
  </div>
<%end%>
